@model PixShareLIB.Models.FilterCriteria

@{
    ViewBag.Title = "Search";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #FFC0CB; /* Pink background */
            font-family: Arial, sans-serif;
        }

        .search-container {
            width: 50%;
            margin: 0 auto;
            background-color: #FFFFFF; /* White background */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px #000;
            margin-top: 50px;
            text-align: center;
        }

            .search-container h2 {
                color: #FF69B4; /* Hot Pink */
            }

            .search-container label {
                color: #FF69B4; /* Hot Pink */
                font-weight: bold;
                display: block;
                margin-bottom: 5px;
            }

            .search-container input[type="text"],
            .search-container input[type="datetime"] {
                width: 80%;
                padding: 10px;
                margin: 10px 0;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .search-container button {
                padding: 10px 20px;
                background-color: #4CAF50; /* Green */
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

                .search-container button:hover {
                    background-color: #45a049;
                }
    </style>
</head>
<body>
    <div class="search-container">
        <h2>Search</h2>
        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <div>
                <label for="Username">Username:</label> <!-- Change label -->
                @Html.TextBoxFor(m => m.Username, new { type = "text", placeholder = "Enter Username" }) <!-- Change textbox -->
            </div>
            <div>
                <label for="Hashtags">Hashtags:</label>
                @Html.TextBoxFor(m => m.Hashtags, new { type = "text", placeholder = "Enter Hashtags" })
            </div>
            <div>
                <label for="StartDate">Date:</label>
                @Html.TextBoxFor(m => m.StartDate, new { type = "datetime", placeholder = "Enter Start Date" })
            </div>


            <button type="submit">Search</button>
        }
    </div>
</body>
</html>
